<div class="grid grid-cols-4 gap-x-6 gap-y-3 w-full">
  <div class="font-medium font-xl col-span-4">API Inputs</div>

  <mat-form-field>
    <mat-label>Set token</mat-label>
    <input
      matInput
      [formControl]="this.inputsService.apiForm.controls.token"
    />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Choose base</mat-label>
    <mat-select [formControl]="this.inputsService.apiForm.controls.baseName">
      <mat-option [value]=""></mat-option>
      @for (base of airtableService.bases(); track $index) {
        <mat-option [value]="base.name">{{base.name}}</mat-option>
      }
    </mat-select>
    <mat-hint>Enter the token to load possible options</mat-hint>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Choose Transactions tables name</mat-label>
    <mat-select [formControl]="this.inputsService.apiForm.controls.transactionTableName">
      <mat-option [value]=""></mat-option>
      @for (table of selectedBasesTables(); track $index) {
        <mat-option [value]="table.name">{{table.name}}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Choose Planned Transactions tables name</mat-label>
    <mat-select [formControl]="this.inputsService.apiForm.controls.plannedTransactionTableName">
      <mat-option [value]=""></mat-option>
      @for (table of selectedBasesTables(); track $index) {
        <mat-option [value]="table.name">{{table.name}}</mat-option>
      }
    </mat-select>
  </mat-form-field>
</div>

<div class="grid grid-cols-4 gap-x-6 gap-y-3 w-full">
  <div class="font-medium font-xl col-span-4">Budget Inputs</div>

  <mat-form-field>
    <mat-label>Starting Balance</mat-label>
    <input
      matInput
      [formControl]="
        this.inputsService.dashboardForm.controls.startingBalance
      "
    />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Choose the starting date</mat-label>
    <input matInput [matDatepicker]="startDatePicker" />
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle
      matIconSuffix
      [for]="startDatePicker"
    ></mat-datepicker-toggle>
    <mat-datepicker #startDatePicker></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Choose the ending date</mat-label>
    <input matInput [matDatepicker]="endDatePicker" />
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle
      matIconSuffix
      [for]="endDatePicker"
    ></mat-datepicker-toggle>
    <mat-datepicker #endDatePicker></mat-datepicker>
  </mat-form-field>

  <button
    mat-raised-button
    class="mt-2 !bg-gradient-to-r from-cyan-200 via-yellow-200 to-red-200"
    (click)="this.onFetchClicked()"
  >
    Fetch Transactions
  </button>
</div>
