<div class="grid grid-cols-3 gap-6 w-full">
  <div class="font-medium font-xl col-span-3">API Inputs</div>

  <mat-form-field>
    <mat-label>Set token</mat-label>
    <input
      matInput
      [formControl]="this.inputsService.apiForm.controls.token"
    />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Choose base</mat-label>
    <mat-select [formControl]="this.inputsService.apiForm.controls.baseName">
      <mat-option [value]=""></mat-option>
      @for (base of airtableService.bases(); track $index) {
        <mat-option [value]="base.id">{{base.name}}</mat-option>
      }
    </mat-select>
    <mat-hint>Enter the token to load possible options</mat-hint>
    @if (loadingService.isLoading(EndPoints.GET_BASES)) {
      <mat-progress-bar mode="query"></mat-progress-bar>
    }
  </mat-form-field>

  <div></div>
</div>

<div class="grid grid-cols-3 gap-6 w-full">
  <div class="font-medium font-xl col-span-3">Budget Inputs</div>

  <mat-form-field class="col-span-2">
    <mat-label>Choose Transaction tables name</mat-label>
    <mat-select [formControl]="this.inputsService.apiForm.controls.transactionTableName">
      <mat-option [value]=""></mat-option>
      @for (table of selectedBasesTables(); track $index) {
        <mat-option [value]="table.id">{{table.name}}</mat-option>
      }
    </mat-select>
    @if (loadingService.isLoading(EndPoints.GET_BASESCHEMA)) {
      <mat-progress-bar mode="query"></mat-progress-bar>
    }
  </mat-form-field>
  
  <button
    mat-raised-button
    class="mt-2 !bg-gradient-to-r from-cyan-200 via-yellow-200 to-red-200"
    (click)="this.onFetchClicked()"
  >
    Fetch Transactions
  </button>
</div>

