<table mat-table [dataSource]="plannedTransactionsDataSource()" matSort>
  <ng-container [matColumnDef]="PlannedTransactionColumns.description">
    <th mat-header-cell *matHeaderCellDef> Description </th>
    <td mat-cell *matCellDef="let row"> {{row[PlannedTransactionColumns.description]}} </td>
  </ng-container>

  <ng-container [matColumnDef]="PlannedTransactionColumns.active">
    <th mat-header-cell *matHeaderCellDef> Active </th>
    <td mat-cell *matCellDef="let row">
      <div>
        {{ row[PlannedTransactionColumns.active] | boolean }}
      </div>
    </td>
  </ng-container>

  <ng-container [matColumnDef]="PlannedTransactionColumns.amount">
    <th mat-header-cell *matHeaderCellDef> Amount </th>
    <td mat-cell *matCellDef="let row"> {{ row[PlannedTransactionColumns.amount] | currency }} </td>
  </ng-container>

  <ng-container [matColumnDef]="PlannedTransactionColumns.priority">
    <th mat-header-cell *matHeaderCellDef> Priority </th>
    <td mat-cell *matCellDef="let row"> {{row[PlannedTransactionColumns.priority]}} </td>
  </ng-container>

  <ng-container [matColumnDef]="PlannedTransactionColumns.category">
    <th mat-header-cell *matHeaderCellDef> Category </th>
    <td mat-cell *matCellDef="let row"> {{row[PlannedTransactionColumns.category]}} </td>
  </ng-container>

  <ng-container [matColumnDef]="PlannedTransactionColumns.isIncome">
    <th mat-header-cell *matHeaderCellDef> Is Income </th>
    <td mat-cell *matCellDef="let row"> {{row[PlannedTransactionColumns.isIncome]}} </td>
  </ng-container>

  <ng-container [matColumnDef]="PlannedTransactionColumns.account">
    <th mat-header-cell *matHeaderCellDef> Account </th>
    <td mat-cell *matCellDef="let row"> {{ row[PlannedTransactionColumns.account]?.name ?? "" }} </td>
  </ng-container>

  <ng-container [matColumnDef]="PlannedTransactionColumns.occurrence">
    <th mat-header-cell *matHeaderCellDef> Occurence </th>
    <td mat-cell *matCellDef="let row"> {{row[PlannedTransactionColumns.occurrence]}} </td>
  </ng-container>

  <ng-container [matColumnDef]="PlannedTransactionColumns.autopay">
    <th mat-header-cell *matHeaderCellDef> Autopay </th>
    <td mat-cell *matCellDef="let row"> {{row[PlannedTransactionColumns.autopay]}} </td>
  </ng-container>

  <ng-container [matColumnDef]="PlannedTransactionColumns.shared">
    <th mat-header-cell *matHeaderCellDef> Shared? </th>
    <td mat-cell *matCellDef="let row"> {{row[PlannedTransactionColumns.shared]}} </td>
  </ng-container>

  <ng-container [matColumnDef]="PlannedTransactionColumns.dateOfTransaction">
    <th mat-header-cell *matHeaderCellDef> Date of Transaction </th>
    <td mat-cell *matCellDef="let row"> {{ row[PlannedTransactionColumns.dateOfTransaction] | datetime }} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedPlannedTransactionColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedPlannedTransactionColumns;"></tr>
</table>

<mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
