@use "@angular/material" as mat;
@use "tables.scss";
@use "typography.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

$density: -1;
$magenta-and-violet-theme: (
  color: mat.$magenta-palette,
  tertiary: mat.$violet-palette,
  typography: Roboto,
  density: $density,

);

$cyan-and-orange-theme: (
  color: mat.$cyan-palette,
  tertiary: mat.$orange-palette,
  typography: Roboto,
  density: $density,
);

$rose-and-red-theme: (
  color: mat.$rose-palette,
  tertiary: mat.$red-palette,
  typography: Roboto,
  density: $density,
);

$azure-and-blue-theme: (
  color: mat.$azure-palette,
  tertiary: mat.$blue-palette,
  typography: Roboto,
  density: $density,
);

html {
  color-scheme: light dark;
  @include mat.theme($cyan-and-orange-theme);
}

.magenta-and-violet-theme {
  @include mat.theme($magenta-and-violet-theme);
}

.cyan-and-orange-theme {
  @include mat.theme($cyan-and-orange-theme);
}

.rose-and-red-theme {
  @include mat.theme($rose-and-red-theme);
}

.azure-and-blue-theme {
  @include mat.theme($azure-and-blue-theme);
}

html,
body {
  height: 100vh;
}

.card {
  @apply rounded-xl;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.theme-picker-menu .mat-mdc-menu-item .theme-example-icon {
  margin-right: 0;
  margin-left: 24px;
  order: 1;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  border: solid 1px
    color-mix(in srgb, var(--mat-sys-outline-variant) 50%, transparent);
}
