<div class="h-full flex flex-col">
  <div>
    <mat-expansion-panel
      [ngClass]="{
        '!rounded-none !shadow-none !bg-gradient-to-r !from-red-100 !via-yellow-100 !to-cyan-100': true,
        'border-b-4 border-blue-600': !appStore.isLoading()
      }"
      hideToggle=""
    >
      <mat-expansion-panel-header class="!px-3">
        <div class="flex items-center justify-between gap-3 p-1 w-full" matTooltip="Show more">
          <div class="flex items-center gap-3 text-xl">
            <mat-icon svgIcon="airtable" inline class="!h-6"></mat-icon>
            <div class="text-2xl font-light mt-1">Budget Dashboard</div>
          </div>
          <mat-icon>edit</mat-icon>
        </div>
      </mat-expansion-panel-header>
      <app-inputs class="border-b"></app-inputs>
    </mat-expansion-panel>

    @if (appStore.isLoading()) {
    <mat-progress-bar
      mode="query"
      class="!bg-gradient-to-r from-blue-600 to-purple-600"
    ></mat-progress-bar>
    } @if (notifications.get(NotificationTypes.Errors).length > 0) {
    <div class="flex flex-col gap-3 p-3 bg-red-200 divide-y">
      @for (error of notifications.get(NotificationTypes.Errors)(); track $index) {
      <div class="flex justify-between gap-3">
        <div>
          @if (error.title !== null && error.title !== "") {
            <div>Error: {{ error.title }}</div>
          }
          <div>
            {{ error.message }}
          </div>
        </div>
        <div>
          <button mat-icon-button (click)="notifications.remove(error)">
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </div>
      }
    </div>
    }
  </div>

  <app-dashboard class="grow"></app-dashboard>
</div>
