<div>
  @if (balance() === null) {
  <div>No balance selected</div>
  } @else {
  <div class="m-3 grid grid-cols-10 gap-1">
    <div>{{ balance()!.date | DateTime }}</div>
    <div>{{ balance()!.balance | currency }}</div>
    <div class="col-span-7"></div>
  </div>
  <div class="my-3 border-b border-slate-300"></div>
  @for (item of balance()!.transactions; track $index) {
  <div
    class="p-3"
    >
    <!-- mat-menu-item
    [matMenuTriggerFor]="detailsMenu"
    [matMenuTriggerData]="item" -->
    <div class="grid grid-cols-10 gap-1">
      <div class="text-slate-400 font-light">{{ item.date | DateTime }}</div>
      <div>{{ item.amount | currency }}</div>
      <div [class]="['text-slate-400', getCalculatedBalanceClass(item)]">
        {{ item.amount | currency }} + {{ item.calculatedBalance | currency }}
      </div>
      <div class="col-span-7">{{ item.description }}</div>
    </div>
  </div>
  } }
</div>

<!-- <mat-menu #detailsMenu="matMenu">
  <ng-template matMenuContent let-description="description">
    <div class="px-3 py-1 text-xs">{{ description }}</div>
  </ng-template>
</mat-menu> -->
