@if (balance() === null) {
<div>No balance selected</div>
} @else {
<table mat-table [dataSource]="balance() ? balance()!.transactions : []">
  <ng-container matColumnDef="#">
    <th mat-header-cell *matHeaderCellDef>#</th>
    <td mat-cell *matCellDef="let row" class="text-slate-400">{{ row.indexOnDay }}</td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef>Date</th>
    <td mat-cell *matCellDef="let row" class="text-slate-400">
      {{ row.date | DateTime }}
    </td>
    <td mat-footer-cell *matFooterCellDef>Total</td>
  </ng-container>

  <ng-container matColumnDef="previousBalance">
    <th mat-header-cell *matHeaderCellDef>Previous Balance</th>
    <td mat-cell *matCellDef="let row" class="text-slate-400">
      {{ getPreviousBalance(row) | number: '1.0-2' }}
    </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <ng-container matColumnDef="plus">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let row" class="text-slate-400">+</td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <ng-container matColumnDef="amount">
    <th mat-header-cell *matHeaderCellDef>Amount</th>
    <td mat-cell *matCellDef="let row" class="text-slate-400">
      <span [class]="getCalculatedBalanceClass(row)">{{ row.amount | number: '1.0-2' }}</span>
    </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <ng-container matColumnDef="equals">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let row" class="text-slate-400">=</td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <ng-container matColumnDef="balance">
    <th mat-header-cell *matHeaderCellDef>New Balance</th>
    <td mat-cell *matCellDef="let row">
      {{ row.calculatedBalance | currency }}
    </td>
    <td mat-footer-cell *matFooterCellDef>
      {{ (balance() ? balance()!.balance : 0) | currency }}
    </td>
  </ng-container>

  <ng-container matColumnDef="account">
    <th mat-header-cell *matHeaderCellDef>Account</th>
    <td mat-cell *matCellDef="let row" class="text-xs">{{ row.account }}</td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef>Desc</th>
    <td mat-cell *matCellDef="let row" class="text-xs">
      {{ row.description }}
    </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns" class="!h-8"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns" class="!h-8"></tr>
  <tr mat-footer-row *matFooterRowDef="displayedColumns" class="!h-8"></tr>
</table>
}
