<table mat-table [dataSource]="transactionsDataSource()" matSort>
  <ng-container [matColumnDef]="TransactionColumns.date">
    <th mat-header-cell *matHeaderCellDef> Date </th>
    <td mat-cell *matCellDef="let row"> {{row[TransactionColumns.date]}} </td>
  </ng-container>

  <ng-container [matColumnDef]="TransactionColumns.description">
    <th mat-header-cell *matHeaderCellDef> Description </th>
    <td mat-cell *matCellDef="let row"> {{row[TransactionColumns.description]}} </td>
  </ng-container>

  <ng-container [matColumnDef]="TransactionColumns.account">
    <th mat-header-cell *matHeaderCellDef> Account </th>
    <td mat-cell *matCellDef="let row"> {{row[TransactionColumns.account]}} </td>
  </ng-container>

  <ng-container [matColumnDef]="TransactionColumns.category">
    <th mat-header-cell *matHeaderCellDef> Category </th>
    <td mat-cell *matCellDef="let row"> {{row[TransactionColumns.category]}} </td>
  </ng-container>

  <ng-container [matColumnDef]="TransactionColumns.amount">
    <th mat-header-cell *matHeaderCellDef> Amount </th>
    <td mat-cell *matCellDef="let row"> {{row[TransactionColumns.amount]}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedTransactionColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedTransactionColumns;"></tr>
</table>

<mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
