<table mat-table matSort [dataSource]="transactionsDataSource()" matSort>
  <ng-container [matColumnDef]="TransactionColumns.date">
    <th mat-header-cell mat-sort-header *matHeaderCellDef> Date </th>
    <td mat-cell *matCellDef="let row"> {{ row[TransactionColumns.date] | datetime }} </td>
  </ng-container>

  <ng-container [matColumnDef]="TransactionColumns.sortOrder">
    <th mat-header-cell mat-sort-header *matHeaderCellDef> Sort Order </th>
    <td mat-cell *matCellDef="let row"> {{row[TransactionColumns.sortOrder]}} </td>
  </ng-container>

  <ng-container [matColumnDef]="TransactionColumns.accountName">
    <th mat-header-cell mat-sort-header *matHeaderCellDef> Account </th>
    <td mat-cell *matCellDef="let row"> {{row.account ? row.account.name : ""}} </td>
  </ng-container>

  <ng-container [matColumnDef]="TransactionColumns.accountType">
    <th mat-header-cell mat-sort-header *matHeaderCellDef> Type </th>
    <td mat-cell *matCellDef="let row" [class]="accountStyleService.getAccountTypeClass(row.account)"> {{row.account ? row.account.type : ""}} </td>
  </ng-container>

  <ng-container [matColumnDef]="TransactionColumns.category">
    <th mat-header-cell mat-sort-header *matHeaderCellDef> Category </th>
    <td mat-cell *matCellDef="let row"> {{row[TransactionColumns.category]}} </td>
  </ng-container>

  <ng-container [matColumnDef]="TransactionColumns.description">
    <th mat-header-cell mat-sort-header *matHeaderCellDef> Description </th>
    <td mat-cell *matCellDef="let row"> {{row[TransactionColumns.description]}} </td>
  </ng-container>

  <ng-container [matColumnDef]="TransactionColumns.amount">
    <th mat-header-cell mat-sort-header *matHeaderCellDef> Amount </th>
    <td mat-cell *matCellDef="let row" [class]="transactionsStyleService.getTransactionAmountClass(row)"> {{ row[TransactionColumns.amount] | currency}} </td>
  </ng-container>

  <ng-container [matColumnDef]="TransactionColumns.startingBalance">
    <th mat-header-cell mat-sort-header *matHeaderCellDef> Starting Balance </th>
    <td mat-cell *matCellDef="let row"> {{ row[TransactionColumns.startingBalance] | currency }} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedTransactionColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedTransactionColumns;"></tr>
</table>

<mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
